<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title>Portal C3</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  	<link rel="stylesheet" href="/assets/css/admin/style.css" media="all" />
 	 <%= stylesheet_link_tag 'alert' %>
    <!--[if IE]><link rel="stylesheet" href="css/ie.css" media="all" /><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" href="css/ie9.css" media="all" /><![endif]-->
    <!--[if lt IE 9]><link rel="stylesheet" href="css/lt-ie-9.css" media="all" /><![endif]-->
</head>
<body class="login">
	<section>
		<h1 id="h1-header">Portal C3</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
     <div class="field">
        <%= f.label :Matrícula %><br />
      	<%= f.text_field :enrollment, autofocus: true %>
     </div>
     <div class="field">
     	<%= f.label :Senha %><br />
	<%= f.password_field :password, autocomplete: "off"%>
     </div>
     <div class="actions">
	<%= f.submit "Entrar", class:"blue" %>
     </div>
		<% end -%>
    <p> <%= link_to "Perdeu a senha?", new_password_path('user') %> </p>
	</section>
<script src="/assets/jQuery/jquery.min.js"></script>
</body>
</html>