<link rel="stylesheet" href="/assets/css/dashboard/dashboard-form.css" media="all">

<%= form_for([:dashboard, @user], html: { multipart: true }) do |f| %>
    <section class="content">
      <section class="widget" style="min-height:300px">
          <%= render "shared/error_messages" %>
          <% if current_user.errors.any? %>
              <div class="alert alert-danger">
                  <% current_user.errors.full_messages.each do |message| %>
                      <li style="margin-left:5px;"><%= message %></li>
                  <% end %>
              </div>
          <% end %>
        <header>
          <span class="icon">&#59160;</span>
          <hgroup>
            <h1 style= "line-height: 38px;" >Usuário</h1>
          </hgroup>
        </header>
        
        <div class="content">

          <div class="field-wrap">
            <p>
              <img src="<%= @user.avatar.url %>" width="128" height="128"/>
            </p>
            <label>Imagem de perfil:</label>
            <%= file_field :user, :avatar %>
          </div>

          <div class="field-wrap">
            <label>Nome:</label>
            <%= text_field :user, :name, value: @user.name %>
          </div>

          <div class="field-wrap">
            <label>Titulação:</label>
            <%= select :user_profile, :degree, options_for_select(['Mestre', 'Doutor', 'Especialista', 'Graduado', 'Técnico'], selected: @user.profile.degree), {}, {class: 'form-control'} %>
          </div>

          <div class="field-wrap">
            <label>Cargo:</label>
            <%= text_field :user_profile, :role, value: @user.profile.role %>
          </div>

          <div class="field-wrap">
            <label>Curriculum lattes:</label>
            <%= text_field :user_profile, :lattes, value: @user.profile.lattes %>
          </div>

          <div class="field-wrap">
            <label>Página pessoal:</label>
            <%= text_field :user_profile, :link, value: @user.profile.link %>
          </div>

          <div class="field-wrap">
            <label>Email:</label>
            <%= text_field :user, :email, value: @user.email %>
          </div>

          <div class="field-wrap wysiwyg-wrap">
            <label>Áreas de interesse:</label>
            <%= text_area :user_profile, :interests, value: @user.profile.interests, rows: "5" %>
          </div>

          <div class="field-wrap wysiwyg-wrap">
            <label>Tipo de conta:</label>
            <%= select :user, :role, options_for_select(User.roles.keys.map(&:upcase), selected: @user.role.nil? ? :user : @user.role), {}, { :class => "form-control" } %>
          </div>

          <div class="field-wrap wysiwyg-wrap">
            <label>Professor?</label>
            <%= select :user_profile, :is_teacher, options_for_select([['Sim','1'], ['Não','0']], selected: @user.user_profile.is_teacher ? '1' : '0'), {}, { :class => "form-control" } %>
          </div>

           <div class="field-wrap wysiwyg-wrap">
            <label>Matrícula</label>
            <%= text_field :user, :enrollment, :class => "form-control" %>
          </div>

          <div class="field-wrap wysiwyg-wrap">
            <label>Nova senha:</label>
            <%= password_field :user, :password, value: @user.password %>
          </div>

          <div class="field-wrap wysiwyg-wrap">
            <label>Confirmação de senha:</label>
            <%= password_field :user, :password_confirmation, value: @user.password_confirmation %>
          </div>

          <div class="field-wrap wysiwyg-wrap">
            <%= f.button 'Salvar', class: 'btn btn-warning', type: 'submit' %>
          </div>

        </div>
      </section>
    </section>
<% end %>