<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <title>Administração Portal C3</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="robots" content="" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="/assets/css/admin/style.css" media="all" />
  <%= stylesheet_link_tag 'alert' %>
  <!--[if IE]><link rel="stylesheet" href="css/ie.css" media="all" /><![endif]-->
  <!--[if IE 9]><link rel="stylesheet" href="css/ie9.css" media="all" /><![endif]-->
  <!--[if lt IE 9]><link rel="stylesheet" href="css/lt-ie-9.css" media="all" /><![endif]-->
</head>
<body class="login">
<section>
  <h1>Portal C3 </h1>

  <h1>Alterando senha  </h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      
      <div class="field">
        <%= f.label :password, "Nova Senha", placeholder: 'No mínimo 6 caracteres' %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "on" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirmação", placeholder: "Confirme nova senha" %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "on" %>
      </div>
      
      <div class="actions">
        <%= f.submit "Mudar senha" , class: 'blue' %>
      </div>

  <% end %>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
