<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <title>Administração Portal C3</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="robots" content="" />
  <link rel="stylesheet" href="/assets/css/@font-face/open-sans.css" media="all" />
  <link rel="stylesheet" href="/assets/css/admin/style.css" media="all" />
  <link rel="stylesheet" href="/assets/css/auth/authentication-page.css" media="all">
  <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css" media="all">
  <%= stylesheet_link_tag 'alert' %>
  <script src="/assets/js/admin/prefixfree.min.js"></script>
  <!--[if IE]><link rel="stylesheet" href="css/ie.css" media="all" /><![endif]-->
  <!--[if IE 9]><link rel="stylesheet" href="css/ie9.css" media="all" /><![endif]-->
  <!--[if lt IE 9]><link rel="stylesheet" href="css/lt-ie-9.css" media="all" /><![endif]-->
</head>
<body>
<section id="wrappter-container">
 <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { :class => 'login', :id => "formAuth", method: :put,  :data_message_submit => "Alterando..."}) do |f| %>
       <p class="title"><strong>Alteração de Senha</strong></p>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "Nova senha", placeholder: "No mínimo 6 caracteres", :class => "label-input" %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "on" %>
        <i class="fa fa-user" style="font-size: 15px; padding-top:5px;"></i>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirmação", placeholder: "Confirme nova senha", :class => "label-input" %><br/>
        <%= f.password_field :password_confirmation, autocomplete: "on" %>
        <i class="fa fa-user" style="font-size: 15px; padding-top:5px;"></i>
      </div>
      
      <%= link_to "Voltar",new_session_path(resource_name) %> 
      <button>
      <i class="spinner"></i>
      <span class="state">Mudar senha</span>
    </button>
  <% end %>
</section>

<script src="/assets/js/jQuery/jquery-2.2.4.min.js"></script>
<script src="/assets/js/admin/auth.js"></script>
</body>
</html>
