<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <title>Administração Portal C3</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="robots" content="" />
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="/assets/css/admin/style.css" media="all" />
  <%= stylesheet_link_tag 'alert' %>
  <!--[if IE]><link rel="stylesheet" href="css/ie.css" media="all" /><![endif]-->
  <!--[if IE 9]><link rel="stylesheet" href="css/ie9.css" media="all" /><![endif]-->
  <!--[if lt IE 9]><link rel="stylesheet" href="css/lt-ie-9.css" media="all" /><![endif]-->
</head>
<body class="login">
<section>
  <h1>Portal C3 </h1>

  <h1>Esqueceu sua senha?</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
    <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :email %><br />
      	<%= f.text_field :email, autocomplete: "on", placeholder: 'Senha' %>
     </div>
     <div class="actions">
      <%= f.submit "Redefinir senha", class: 'blue'%>
      <%= link_to "Voltar", new_session_path(resource_name), style: 'color:white' %><br/>
      </div>
  <% end %>
</section>

<script src="/assets/jQuery/jquery.min.js"></script>
</body>
</html>
