<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title>Admin PORTAL C3</title>
    <link rel="shortcut icon" href="../../../img/favicon.png" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" media="all">
  <link rel="stylesheet" href="/assets/css/admin/style.css" media="all" />
  <link rel="stylesheet" href="/assets/css/multi-select.css" media="all" />
  <%= csrf_meta_tags %>
</head>

<body data-no-turbolink="true">
	<%= render :partial => 'layouts/admin_header.html.erb' %>

	<%= render :partial => 'layouts/admin_sidebar.html.erb' %>
	
	<%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<script src="/assets/js/jQuery/jquery.min.js"></script>
<script src="/assets/js/jQuery/jquery.wysiwyg.js"></script>
<script src="/assets/js/admin/custom.js"></script>
<script src="/assets/js/admin/cycle.js"></script>
<script src="/assets/js/jQuery/jquery.tablesorter.min.js"></script>
<script src="/assets/js/jQuery/jquery.maskedinput.js"</script>

<script type="text/javascript">
    $('.cycle').cycle({
        fx: "scrollHorz",
        timeout: 0,
        slideResize: 0,
        prev: '.left-btn',
        next: '.right-btn'
    });
    $('.datetime-local').mask('99/99/9999 99:99');
</script>
</body>
</html>